[submodule "extra/wasmd"]
	path = extra/wasmd
	url = https://github.com/CosmWasm/wasmd
[submodule "extra/ibc-go"]
	path = extra/ibc-go
	url = https://github.com/cosmos/ibc-go.git
[submodule "extra/aiax-node"]
	path = extra/aiax-node
	url = https://github.com/aiax-network/aiax-node
[submodule "extra/gravity-bridge"]
	path = extra/gravity-bridge
	url = https://github.com/aiax-network/gravity-bridge.git
[submodule "extra/cosmos-rust"]
	path = extra/cosmos-rust
	url = https://github.com/aiax-network/cosmos-rust.git
[submodule "extra/tendermint"]
	path = extra/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "extra/deep_space"]
	path = extra/deep_space
	url = https://github.com/aiax-network/deep_space.git
[submodule "extra/cosmos-sdk"]
	path = extra/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk
